* {
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: baseline;
}

#main-div {
    margin-top: 15%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
}

footer a {
    text-decoration: none;
}